@inject IJSRuntime JSruntime;

@if (manifest != null)
{
    <section>
        <div id="manifest" @onclick=@ToggleManifestVisibility>
            <!-- Labels -->
            <div>
                <p>Rover: </p>
                <p>Status:</p>
                <p>Launch Date: </p>
                <p>Landing Date:</p>
                <p>Max Sol: </p>
                <p>Photos Taken: </p>
            </div>

            <!-- Values -->
            <div>
                <p>@manifest.Rover.Name</p>
                <p>@manifest.Rover.Status</p>
                <p>@manifest.Rover.Launch_date</p>
                <p>@manifest.Rover.Landing_date</p>
                <p>@manifest.Rover.Max_sol</p>
                <p>@manifest.Rover.Total_photos</p>
            </div>
        </div>
        <button id="toggleManifest" @onclick=@ToggleManifestVisibility>Hide Manifest</button>
    </section>
} 

@code {
    [Parameter]
    public MarsRoverManifest.Response manifest { get; set; }

    private void ToggleManifestVisibility()
    {
        JSruntime.InvokeVoidAsync("toggleManifestVisiblity");
    }
}
